<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AtoZ Bizde Satar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
    <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

</head>
<body>
        <div class="jumbotron">
                <h1 class="display-4">AtoZ Hosgeldiniz</h1>
                <p class="lead">AtoZ Insaat Sektorunun Yeni ve Daimi Platformu. Urun Sahipleri icin En Adil Rekabet, Musteriler icin ise Insaat Malzeme <br/> Satin Almanin En Kolay Yolu</p>
                <hr class="my-4">
                <p>Baska bir aciklama buraya</p>
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>
        <div class='container'>
            <div class="row">
            <div class="mainPage-tuccar">
                <h3>Satici Olarak Giris Yap</h3>
                <a class="btn btn-success btn-lg" id="satici-login" href="#" type="button" >Giris Yap</a>
                <a class="btn btn-primary btn-lg" id="satici-signup" href="#" type="button">Uye Ol!</a>
            </div>
            <div class="mainPage-musteri">
                    <h3>Musteri Olarak Giris Yap</h3>
                    <a class="btn btn-success btn-lg" id="musteri-login" href="#" type="button">Giris Yap</a>
                    <a class="btn btn-primary btn-lg" id="musteri-signup" href="#" type="button">Uye Ol!</a>
                </div>
            </div> 
        </div>
    
</body>
</html>