<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hosgeldin Yeni Uye Adayi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

</head>

<body>
    <div class="jumbotron">
        <h1 class="display-4">Uye Oldugunuz Icin Tesekkurler</h1>
        <p class="lead">AtoZ Insaat Sektorunun Yeni ve Daimi Platformu. Urun Sahipleri icin En Adil Rekabet, Musteriler
            icin ise Insaat Malzeme <br /> Satin Almanin En Kolay Yolu</p>
        <hr class="my-4">
        <p>Baska bir aciklama buraya</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>

    <div class="inputgroup mb-4">
        <label>Kullanici Adi: </label>
        <input id="saticiKullaniciAdi" type="text" class="formControl" placeholder="Kullanici Adi">
        <label>E-mail Adresi: </label>
        <input id="saticiEmail" type="text" class="formControl" placeholder="Email Adresi">
    </div>
    <div class="inputgroup mb-4">
            <label>Firma Ismi: </label>
            <input id="saticiFirmaIsmi" type="text" class="formControl" placeholder="Firma Ismi">
            <label>Firma Yetkili Kisi: </label>
            <input id="saticiYetkiliKisi" type="text" class="formControl" placeholder="Yetkili Kisi">
            <label>Firma Yetkili Kisi Telefon: </label>
            <input id="saticiYetkiliTelefon" type="text" class="formControl" placeholder="Yetkili Kisi Telefon">
            <label>Firma Yetkili Kisi Email Adres: </label>
            <input id="saticiYetkiliEmail" type="text" class="formControl" placeholder="Yetkili Kisi Email Adres">
        </div>
    <div>
        <button type="submit" id="saticiUyeOl_Onayla">Onayla</button>
    </div>
    <script src="../javascript/saticiUyeOl.js"></script>

    
</body>

</html>